<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head class="mb-5" th:include="~{ fragments/head::#head }"></head>
<body>

<header class="mb-5" th:include="~{ fragments/header::#header }"></header>

<main class="container">

    <h1>Liste des rdvs</h1>

    <form method="get" action="/rdv">
        <div class="row my-4">
            <div class="col-4">
                <select class="form-select" name="patient" id="patient">
                    <option value="">Sélectionner un patient</option>
                    <option th:each="patient : ${patients}" th:value="${patient.id}"
                            th:utext="${patient.prenom} + ' ' + ${patient.nom}" th:selected="${ patient.id == patientId }" ></option>
                </select>
            </div>
            <div class="col-3">
                <input type="date" name="datesearch" th:value="${dateSearch}">
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
            <div class="col-2">
                <a href="/rdv/add" class="btn btn-primary">Ajouter une rdv</a>
            </div>
        </div>
    </form>

    <span class="badge bg-secondary" th:text="| ${ #lists.size(rdvs) } Rendez vous trouvé(s) |"></span>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Patient</th>
            <th>Date et heure</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="rdv : ${ rdvs }">
            <td th:text="${ rdv.id }"></td>
            <td th:text="${ rdv.patient.prenom } + ' ' + ${ rdv.patient.nom }"></td>
            <td th:text="${#dates.format( rdv.dateheure , 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${ rdv.type }"></td>
            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{'/rdv/edit/' + ${ rdv.id } }"><i
                        class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button class="btn btn-danger btn-sm" th:onclick="|supprimer( 'rdv' , ${rdv.id} )|"><i class="fa fa-trash-o"
                                                                                                 aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</main>

<footer th:include="~{ fragments/footer::#footer }"></footer>

</body>
</html>